html {
  font-size: 15px;
  font-family: "Bungee Outline", cursive;
  background: url(https://images.unsplash.com/photo-1461784121038-f088ca1e7714?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

kbd {
  display: block;
  font-size: 4rem;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 0.1rem solid lightcoral;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 5rem;
  text-align: center;
  color: azure;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0.5rem white;
}

.aqua {
  color: aqua;
}

.coral {
  color: lightcoral;
}
